.admin_article_edition{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}

.titre_edition{
    text-align: center;
}

.form_edition{
    width: 60%;
    margin: 0 auto;
    border:1px solid rgb(160, 160, 160);
    
    padding: 30px;
}

.form_edition input {
    width: 100%;
    height: 30px;
}

.form_edition textarea{
    width: 100%;
    height: 100px;
}

.form_edition label{
    display: inline-block;
    width:100px ;
}

.form_edition select{
    height: 30px;
    width: 60%;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em; 
}

.form_edition .champ_edition{
    margin-top: 30px;
}



.form_edition .champ_edition .degre{
    width: 60%;
}

.envoi_edition{
    
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    width: 200px;
    height: 40px;
    outline-style: none ;
    border: 0px;
    border-radius: 0.25rem;
    display: block;
    margin: 50px auto 0;
    background-color: rgb(60, 60, 60);

    color: rgb(255, 255, 255);

}

@media screen and (min-width:480px) and (max-width:768px){
    .form_edition{
        font-size: 0.9em;
        width: 70%;
    }
    
}


@media screen and (max-width:480px){
    .form_edition{
        font-size: 0.9em;
        width: 80%;
    }

    

 
}

