*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none; 
}


ul{
    list-style: none;
}

body{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;  
}





/*----header-------*/
nav{
    display: flex;
    background-color: rgb(60, 60, 60);
}

.menu
{       
    display: flex;
    width: 100%;
}

.menu ul{
    display: flex;
}

.menu ul li{
    width:60px ;
    padding-left: 10%;
    padding-top: 30px;
}

.menu ul li a{
  color: rgb(255, 255, 255);
}



/*-------footer----------*/
.pied-de-page{
    display: flex;
    justify-content: space-between;
    background-color:rgb(60, 60, 60) ;
    color: white;
    padding: 30px 100px 40px 100px;
    line-height:30px;
    font-size: 0.9em;
    margin-top: 20px;
}



.pied-de-page .aide{
    
    width: 25%;
}

.pied-de-page .a-propre{
   
    width: 25%;
    margin-left: 180px;
}

.pied-de-page a{
    color: white;
}

.pied-de-page a:hover{
    text-decoration: underline;
}

.pied-de-page .reseaux-sociaux{
    
    width: 25%;
    margin-left: 200px;
}

.pied-de-page .reseaux-sociaux img{
    width: 40px;
}
/*------dernier ligne-------*/
.dernier-ligne{
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.dernier-ligne .menu-pied ul li{
    display: inline;       
}

.dernier-ligne .menu-pied{
    background-color: rgb(255, 255, 255);
}

.dernier-ligne a{
    text-decoration: underline;
    color: rgb(60, 60, 60);
}




@media screen and (min-width:480px) and (max-width:768px){
 

    /*--------footer----*/
    .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }
    
    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 50px;
    }

    
}

@media screen and (max-width:480px){
    nav{
        display: block;
    }

    .menu{
        width: 100%;
        background-color: rgb(90, 90, 90);
    }

    .menu ul{
        justify-content: space-around;
        width: 100%;
    }


      /*--------footer----*/
      .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }

    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 30px;
    }

    .dernier-ligne{
        display: block;
    }
}

