*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none; 
}


ul{
    list-style: none;
}

body{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;  
}





/*----header-------*/
nav{
    display: flex;
    background-color: rgb(60, 60, 60);
}

.menu
{       
    display: flex;
    width: 100%;
}

.menu ul{
    display: flex;
}

.menu ul li{
    width:60px ;
    padding-left: 10%;
    padding-top: 30px;
}

.menu ul li a{
  color: rgb(255, 255, 255);
}

/*-------------------------page login----------------------------*/

.admin_login{   
    width: 100%;   
}

.login{
    margin: 180px auto 0;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 540px;  
}

.login-header {   
    background-color: rgb(60, 60, 60);
    height: 75px;
    color: rgb(255, 255, 255);
}

.login-header h4{   
    
    line-height: 75px;
    text-align: center;
}

.login-body{
    padding: 30px;
}

.login-body form label{
    display: inline-block;
    width: 150px;    
}

.login-body form input{
    width: 300px;
    height: 30px;
}

.login-body form .bouton-connecter{
    display: inline-block;
    background-color:  rgb(60, 60, 60);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin-left:100px;
    margin-top: 30px; 
    font-family: 'Montserrat', sans-serif; 
    color: rgb(255, 255, 255);
}


#erreuremailins, #erreurpasswordins{
    margin-left: 155px;
}



/*-------footer----------*/
.pied-de-page{
    display: flex;
    justify-content: space-between;
    background-color:rgb(60, 60, 60) ;
    color: white;
    padding: 30px 100px 40px 100px;
    line-height:30px;
    font-size: 0.9em;
    margin-top: 20px;
}



.pied-de-page .aide{
    
    width: 25%;
}

.pied-de-page .a-propre{
   
    width: 25%;
    margin-left: 180px;
}

.pied-de-page a{
    color: white;
}

.pied-de-page a:hover{
    text-decoration: underline;
}

.pied-de-page .reseaux-sociaux{
    
    width: 25%;
    margin-left: 200px;
}

.pied-de-page .reseaux-sociaux img{
    width: 40px;
}
/*------dernier ligne-------*/
.dernier-ligne{
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.dernier-ligne .menu-pied ul li{
    display: inline;       
}

.dernier-ligne .menu-pied{
    background-color: rgb(255, 255, 255);
}

.dernier-ligne a{
    text-decoration: underline;
    color: rgb(60, 60, 60);
}




@media screen and (min-width:576px) and (max-width:992px){

    /*--------footer----*/
    .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }
    
    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 50px;
    }

    
}

@media screen and (max-width:576px){
    /*-----header-----*/
    nav{
        display: block;
    }

    .menu{
        width: 100%;
        background-color: rgb(90, 90, 90);
    }

    .menu ul{
        justify-content: space-around;
        width: 100%;
    }

    /*-----page login----*/
    .login{
        width: 350px;
    }


      /*--------footer----*/
      .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }

    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 30px;
    }

    .dernier-ligne{
        display: block;
    }
}

