*{
    margin: 0;
    padding: 0;
}


/*-------menu catégorie-----*/
.sousmenu{
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 25px auto 0 auto;
    height: 30px;
   
}

.sousmenu li{
    padding: 5px 10px;
    border:2px solid rgb(240, 240, 240);
    border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    -ms-border-radius:8px 8px 0 0;
    -o-border-radius:8px 8px 0 0;
}

.sousmenu .btn_cat{
    cursor: pointer;
    width: 150px;
    color:rgb(60, 60, 60);
    
}


.sousmenu .btn_cat:hover{

    color: rgb(196, 136, 38);
    
}





/*----la section catégorie----*/
.container .categorie{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);   
}

.container .categorie_r{
    width: 50%;
    padding-top: 15px;
    padding-right: 10px;
    color: rgb(73, 75, 75);
}

.container .categorie_r p{
    font-size: 0.9em;
    
}

/*----la section des articles-----*/

.articles_produit{
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.articles_produit:after{
    content: "";
    
    width:48%;

}

.bloc_articles_produit{
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
    width: 22%;
    font-size: 0.9em;
    text-align: center;
    margin-top: 30px;
}

.bloc_articles_produit img{
    width: 100%;
}

.bloc_articles_produit a{
    color: rgb(100, 100, 100);

}






@media screen and (min-width:576px) and (max-width:992px){
    .container .categorie{
        display: block;         
    }

    .container .categorie_r{
        width: 100%;    
    }

    .container .categorie_l{
        text-align: center;
    }

    .bloc_articles_produit{
        width: 48%;      
    }


}

@media screen and (max-width:576px){

    .container .categorie{
        display: block;         
    }

    .container .categorie_r{
        width: 100%;    
    }

    .container .categorie_l{
        text-align: center;
    }

    .container .categorie_l img{
        width: 100%
    }

    .bloc_articles_produit{
        width: 100%;     
    }

}


