*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none; 
}


ul{
    list-style: none;
}

body{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;  
}


/*la couche gris quand la boite modal apparut*/
.hidebg{
    width: 100%;
    height: 100%;
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(150,150,150,0.5);
    display: none;
}

/*--------------------bande haut de la page-----------------------*/
.haut{
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    height: 30px;
    background-color:rgb(196, 136, 38) ;
    margin-bottom: 10px;

}
.haut .contact-header{
    text-align: center; 
    padding-top: 7px;
    padding-left: 0;
}

.haut .contact-header li{
  margin: 0 10px;
  display:inline; 
  color: rgb(0, 0, 0);
}

.haut .contact-header img{
    width: 20px;
    height: 18px;
}

.haut .contact-header a {
    color: rgb(0, 0, 0);
}

/*--------nav--------*/
.nav{
    display:flex;
    max-width: 1200px;
    width: 80%;
    margin:auto;
    justify-content: space-between;   
  
}

/*------la partie gauche du nav "logo"-----*/

.nav .gouche_nav{
    width:15%; 
    
}

/*------la partie droite du nav -----*/
.nav .droite_nav{
    width: 85%;
    display: flex;
    
}

/*-----menu principal--------*/
.nav .menuprincipal{
    width: 90%;
}

.nav .menuprincipal .menu-mobile,.menuprincipal #menu-mobile{
    display: none;
}

.nav .menuprincipal ul{
   display: flex;
   padding-top: 90px;
   justify-content: space-around;  
   
}

.nav .menuprincipal ul li{
    width: 12%;
    height: 30px;
    
}

.nav .menuprincipal .active{
    color: rgb(196, 136, 38);
    font-weight: bold;
}

.nav .menuprincipal ul a{
    color: rgb(60, 60, 60);
    font-weight: bold;
}

/*-----connexion------*/
.nav .compte{
    padding-top: 80px;
}

.nav .compte img{
    margin-top: 1px;
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
}

.modal{
    display: none;   
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 540px;
    position: fixed;
    top:250px;
    left: 50%;
    transform:translate(-270px, 0);
    background-color: rgb(255, 255, 255);
    z-index: 99;

}

.modal-header {   
    background-color: rgb(196, 136, 38);
    position: relative;
    height: 75px;
}

.modal-header .close{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.modal-header h4{   
    display: inline-block;
    margin-top: 30px;
    margin-left: 200px;
}

.modal-body{
    padding: 30px;
}

.modal-body form label{
    display: inline-block;
    width: 150px;    
}

.modal-body form input{
    width: 300px;
    height: 30px;
}

.modal-body form .bouton-connecter{
    display: inline-block;
    background-color: rgb(196, 136, 38);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin-left:100px;
    margin-top: 30px; 
    font-family: 'Montserrat', sans-serif; 
}

.modal-body form a{
    font-size:0.9em ;
    color:rgb(75, 75, 75);
    
}

.modal-body form a:hover{
    color:rgb(0, 0, 0)
}

#erreuremailins, #erreurpasswordins{
    margin-left: 155px;
}

main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/*-----------slider----------*/

#wrapper{
    width: 100%;
    margin:20px auto;
    
}
#wrapper img{
    width: 100%;
}

/*----type produit------*/
.produit{
    margin-top: 100px;
    margin-bottom: 50px;
}

.produit h2{
    text-align: center;
    font-weight: 900;
    color: rgb(60, 60, 60);
}

.types-produit{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.types-produit .type{
    position: relative;  
    width: 23%; 
    max-width: 240px; 
}

.types-produit .type figure{
    margin: auto;
}


.types-produit .type img{
    width:100%;
    cursor: pointer;
	transition: all 0.6s;
}

.bolc_produit .img-zoom:hover{
	transform: scale(1.1);
}

.types-produit .type .mask{
    position:absolute;
    top:0;
    left:0;
    padding-top:40%;
    padding-bottom: -20%;
    width:100%;
    height:60%;
    color: white;
    text-align: center;
    opacity: 0;
    font-size: 1.5em;
    font-weight: 900;
	transition: all 0.6s;
}


.types-produit .type .mask:hover{
    opacity: 1;  
    transform: scale(1.1);
}

/*-------actualité------------*/
.session_actu{
    margin-top: 100px;
}

.session_actu h2{
    text-align: center;
    color: rgb(60, 60, 60);
    font-weight: 900; 
}
.actus{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.actu{
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
    width: 23%;
    margin: 30px auto;
   
}



 .actu .bloc-actu{   
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(60, 60, 60);
}


.actu .media img{
    width: 100%;   
}


.actu .bloc-actu p{
    width: 90%;
    margin: auto;
    font-size: 0.9em;    
}

.actu .bloc-actu .bouton{
    font-size: 0.9em;
    color:rgb(0, 0, 0);
    background-color: rgb(169, 136, 38);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 95px;
    font-weight: bold;
    padding: 10px 0;
}

/*-----------------------------------page produit----------------------------------*/
/*-------menu catégorie-----*/
.sousmenu{
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 25px auto 0 auto;
    height: 30px;
   
}

.sousmenu li{
    padding: 5px 10px;
    border:2px solid rgb(240, 240, 240);
    border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    -ms-border-radius:8px 8px 0 0;
    -o-border-radius:8px 8px 0 0;
}

.sousmenu .btn_cat{
    cursor: pointer;
    width: 150px;
    color:rgb(60, 60, 60);
    
}


.sousmenu .btn_cat:hover{

    color: rgb(196, 136, 38);
    
}

/*----la section catégorie----*/
.container .categorie{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);   
}

.container .categorie_r{
    width: 50%;
    padding-top: 15px;
    padding-right: 10px;
    color: rgb(73, 75, 75);
}

.container .categorie_r p{
    font-size: 0.9em;    
}

/*----la section des articles-----*/

.articles_produit{
    width: 100%;
    justify-content: space-between;
    margin: 30px auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.articles_produit:after{
    content: "";
    
    width:48%;

}

.bloc_articles_produit{
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
    width: 22%;
    font-size: 0.9em;
    text-align: center;
    margin-top: 30px;
}

.bloc_articles_produit img{
    width: 100%;
}

.bloc_articles_produit a{
    color: rgb(100, 100, 100);

}

/*----------fin de la page produit--------*/

/*--------------------------------------page article----------------------*/
.description_article{
    display: flex;
    margin-top: 30px;
    padding: 20px 0;
    
    background-color: rgb(245, 245, 245);
}

.img_article{
    width: 35%;
}

.img_article img{
    width: 100%;
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
}

.prospectus h2{
    margin:10px 0;
   
    text-align: left;
}

.prospectus{
    width: 62%;
    margin-left: 60px;
    font-size: 0.9em;
}

.prospectus table{
    margin-top: 10px;
}

.prospectus table td{
    padding-right: 70px;
    padding-top: 5px;
}

.notices{
    margin: 30px auto;
}

.notices .notices_hd{
    display: flex;
    padding-bottom: 8px;
    border-bottom: solid 2px rgb(150, 150, 150);  
    font-weight: bold;
}

.notices .notices_hd li{
    cursor: pointer;
    width: 150px;
    color: rgb(200, 200, 200);
}

.notices .notices_hd li:hover{
    color: rgb(73, 73, 73);   
}

.notices .notices_hd .active{
    color: rgb(196, 136, 38);
}

.notices .notices_bd{
    margin-top: 10px;
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
    padding-top: 5px;
}

.notices .notices_bd li{
    padding: 15px 10px;
    display: none;
}

.notices .notices_bd .active{
    display: block;
}

/*-------------------------------------page contact-----------------------------------------------*/
.contact{
    width: 100%;
    max-width: 1250px;
    margin: auto;
    color: rgb(60, 60, 60);
}

.titre{
    background-color:rgb(196, 136, 38) ;
    font-size: 1.8em;
    text-align: center;
    height: 100px;
    padding-top:60px;
    margin-top: 30px;
}

.message_succes{
    background-color: seagreen;
    height: 45px;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    margin-top: 30px;
}

.message_non_succes{
    padding-top: 25px;
    margin-top: 30px;
    background-color: rgb(189, 12, 12);
    height: 45px;
    color: rgb(255, 255, 255);
}

.formulaire{
    margin-top: 30px;
}

.formulaire fieldset{
    border:2px dashed rgb(196, 136, 38);
    padding: 40px 20px;
    margin-bottom: 15px;
}


.gerne{
    text-align: center;
    line-height: 40px;
}

.gerne label{
    display: inline-block;
    margin: 0 20px;

}

.colonnes{
    display: flex;
    justify-content: space-between;   
    margin-left:6px;
}

.colonnes .colonne{  
    width: 49%;
    margin: 5px 10px;  
}

.colonnes .colonne p{
    margin-top: 15px; 
}
.adresse{
    margin: 0 15px;   
    margin-top: 8px; 
}


.message{
    margin: 10px 20px 0 15px;    
   
}

.formulaire label{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    
}
.formulaire .gerne label{
    width: 20px;
}

.colonne input{
    width: 50%;
    height: 23px;
}

.formulaire textarea{
    width: 95%;
    margin-top: 10px;
}

.bouton-contact{
    text-align: center;
}

.bouton-contact input{
    width:120px;
    height:50px;
    font-size:1em;
    margin:20px;
    background-color: rgb(196, 136, 38);
    border: none;
    font-weight: bold;
}

.acces{
    
    margin-top:50px;
    font-size:1.5em;
}

.acces iframe{
    width: 100%;
}
/*----------fin de page contact-------------*/

/*-----------------------------page inscription----------------------------*/
.container_inscription{
    width: 80%;
    margin:20px auto 0;

}
.titre_instription{
    background-color:rgb(196, 136, 38) ;
    font-size: 2em;
    text-align: center;
    height: 100px;
    padding-top:60px;
    margin-bottom: 50px;
    font-weight: 500;
}

.form-inscription h2{      
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}

.form-inscription .form-group .form-control{
    height:30px ;
    width:100%;
    margin: 10px 0 20px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.form-inscription .btn{
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    width: 100px;
    height: 40px;
    outline-style: none ;
    border: 0px;
    border-radius: 0.25rem;
    display: block;
    margin: 20px auto 0;
    background-color: rgb(196, 136, 38);
}

.form-inscription{    
    width: 40%;
    margin: 20px auto 50px;   
}

/*-----------fin de la page inscription--------------*/


/*-------footer----------*/
.pied-de-page{
    display: flex;
    justify-content: space-between;
    background-color:rgb(60, 60, 60) ;
    color: white;
    padding: 30px 100px 40px 100px;
    line-height:30px;
    font-size: 0.9em;
    margin-top: 20px;
}



.pied-de-page .aide{
    
    width: 25%;
}

.pied-de-page .a-propre{
   
    width: 25%;
    margin-left: 180px;
}

.pied-de-page a{
    color: white;
}

.pied-de-page a:hover{
    text-decoration: underline;
}

.pied-de-page .reseaux-sociaux{
    
    width: 25%;
    margin-left: 200px;
}

.pied-de-page .reseaux-sociaux img{
    width: 40px;
}
/*------dernier ligne-------*/
.dernier-ligne{
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.dernier-ligne .menu-pied ul li{
    display: inline;    
}

.dernier-ligne a{
    text-decoration: underline;
    color: rgb(60, 60, 60);
}


/*-------------------Mediaqueries-----------*/
@media screen and (min-width:576px) and (max-width:992px){

/*---------haut de page------*/
    .haut{
        width: 100%;
        height: 80px;   
    }

    .haut .contact-header li{
        display:block;          
    }

    .nav{
        display: flex;
    }

    .nav .droite_nav{    
        display: flex;
        justify-content:flex-end;    
    }

    .haut_droite_nav{
        padding-top: 20px;
    }

/*------------menuburger----------*/
    
    .nav .menuprincipal{
        position: relative;  
        width:10%;
        padding-top: 20px; 
        
    }

    .nav .menuprincipal ul li{
        display: block;
        line-height: 34px;
        font-size:1em; 
    }
    .nav .menuprincipal .menu-mobile{
        display: block;
        margin-left: 10px;
        
    }
    .nav .menuprincipal #menu-mobile:not(:checked),#menu-mobile:checked{
        position: absolute;
        left:-9999px;
    }

    .nav .menuprincipal [type="checkbox"]:checked+label+ul{
        display: block;
    }

    .nav .menuprincipal .menu-mobile img{
        padding-top: 63px;
        width: 35px;
    }
     
    .nav .menuprincipal ul{
        margin-top: -80px;
        display: none;
    }

    
    /*--------produit------*/
    

    .types-produit .type{     
        width:100%    
    }

    /*------actualiés-------*/
    .actu{
        width: 48%;   
    }

    /*----------------------------page produit--------------------------*/
    .sousmenu li{
        padding: 5px 5px;
        font-size: 0.9em;
    }

    .container .categorie{
        display: block;         
    }

    .container .categorie_r{
        width: 100%;    
    }

    .container .categorie_l{
        text-align: center;
    }

    .bloc_articles_produit{
        width: 48%;      
    }
    /*-------------fin de la page produit-----------*/
    /*--------------------page article--------------*/
    .description_article{
        display: block;
    }
    .img_article{
        width: 100%;
        text-align: center;
    }

    .img_article img{
        width: 400px;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;    
    }

    /*---------------fin de la page article------------*/
   

    /*--------footer----*/
    .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }
    
    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 50px;
    }

}

@media screen and (max-width:576px){

    /*---------haut de page------*/
    .haut{
        width: 100%;
        height: 80px;   
    }

    .haut .contact-header li{
        display:block;          
    }

    .nav{
        display: flex;
    }

    .nav .droite_nav{    
        display: flex;
        justify-content:flex-end;    
    }

    .haut_droite_nav{
        padding-top: 20px;
    }

    /*------------menuburger----------*/

    .nav .menuprincipal{
        position: relative;  
        width:10%;
        padding-top: 20px; 
        
    }

    .nav .menuprincipal ul li{
        display: block;
        line-height: 34px;
        font-size:1em; 
    }
    .nav .menuprincipal .menu-mobile{
        display: block;
        margin-left: 10px;
        
    }
    .nav .menuprincipal #menu-mobile:not(:checked),#menu-mobile:checked{
        position: absolute;
        left:-9999px;
    }

    .nav .menuprincipal [type="checkbox"]:checked+label+ul{
        display: block;
    }

    .nav .menuprincipal .menu-mobile img{
        padding-top: 63px;
        width: 35px;
    }
    
    .nav .menuprincipal ul{
        margin-top: -80px;
        display: none;
    }


    /*-----produit----*/
   

    .types-produit .type{
        position: relative;   
        width: 51%;   
        margin: 30px auto;
    }

    /*------actualiés-------*/
    .actu{
        width: 75%;   
    }

    /*----------------------------------page produit------------------------*/
    .sousmenu li{
        padding: 5px 5px;
        font-size: 0.8em;
    }

    .container .categorie{
        display: block;         
    }

    .container .categorie_r{
        width: 100%;    
    }

    .container .categorie_l{
        text-align: center;
    }

    .container .categorie_l img{
        width: 100%
    }

    .bloc_articles_produit{
        width: 100%;     
    }
    /*-------------fin de la page produit-------------*/

    /*------------------page article------------------*/
    .description_article{
        display: block;
    }

    .img_article{
        width: 100%;
        text-align: center;
    }

    
    .img_article img{
        width: 100%;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
    /*-------------------fin de la page article-------------*/


    /*--------footer----*/
    .pied-de-page{
        padding: 30px 70px 40px 50px;
    }

    .pied-de-page .aide{
        width: 32%;
    }

    .pied-de-page .a-propre{
        width: 32%;
        margin-left: 20px;
    }

    .pied-de-page .reseaux-sociaux{
        width: 30%;
        margin-left: 30px;
    }

    .dernier-ligne{
        display: block;
    }
}











